header {
	margin: 34px auto;
	width: 725px;
	height: 215px;
}

body{
	width: 975px;
	margin: auto;
	background: url("background.png");
	background-attachment: fixed;
	background-position: center top;
    background-repeat: no-repeat; 
}


/**
@section header
*/
.logo {
	height: 217px;
	width: 187px;
	float: left;
	background: url("logo.png");
}

.header-map {
	height: 161px;
	width: 480px;
	float: right;
	//background: url("header-map.png");
	background: rgba(180,217,242,0.5);
	padding-top: 55px;
	padding-left: 20px;
	color: white;
	font: 20px bolt;
}
/**
@section search
*/
.search {
	height: 18px;
	width: 725px;
	margin: auto;
	margin-top: 36px;
}

.search #category,#area,#rating {
	width: 100px;
	height: 18px;
	float: left;
	margin-right: 25px;
	display: none;
}

#search-form{
	float: right;
}
#search-button{
	width: 100px;
	height: 18px;
	font: 12px bold;
	vertical-align: top;
	background-color: rgb(250,235,194);
}
#search-field{
	width: 225px;
	height: 18px;
	margin-right: 20px;
	vertical-align: top;
	background-color: rgb(250,235,194);
}

/**
@section content
*/
a{
	text-decoration: none;
	color: black;
}
#content {
	width: 725px;
	margin: 36px auto 0px;
}
.place:nth-child(3n-2) {
	margin-top: 0px;
}
.place:nth-child(3n - 1) {
	margin-top: 36px;
}
.place:nth-child(3n - 1) .photo {
	Position: relative; top: 54px;
}
.place:nth-child(3n - 1) .info {
	Position: relative; bottom: 216px;
}
.place:nth-child(3n) {
	margin-top: 0px;
	margin-right: 0px;
}

.place {
	height: 270px;
	width: 225px;
	float: left;
	margin-right: 25px;
}

.photo {
	height: 216px;
	width: 225px;
	text-align: center;
	background-size: cover !important;
}
.info {
	display: table-cell;
	vertical-align: middle;
	height: 54px;
	width: 225px;
	text-align: center;
	background-color: rgb(250,235,194);
}


/**
@section footer
*/
footer {
	position: fixed;
	height: 18px;
	width: 851px;
	bottom: 3px;
	background-color: rgba(66,65,62,0.5);	
	left: 50%;
	margin-left: -363px;
}

#content {
	width: 725px;
	margin: 36px auto 0px;
}
.place_img{
	float: left;
	height: 380px;
	width: 350px;
	background-size: cover !important;
}
.place_img img{
	float: left;
	height: 380px;
	width: 350px;
}
.place_map{
	float: right;
	height: 380px;
	width: 350px;
}
.place_about{
	background-color: rgba(250,235,194,0.7);
	display: inline-block;
	margin-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	width: 696px;
}
p.address{
	margin-bottom: 0px;
}