header {
	margin: 0 auto;
	width: 725px;
	height: 250px;
}

div {
	//background-color: grey;
}

#logo {
	height: 250px;
	width: 225px;
	float: left;
	background: url("/static/logo.png");
	background-size: cover;
	//margin-right: 25px;
}
	
#content {
	background-color: rgba(220,220,220,0);
	//height: 687px;
	height: 1000px;
	width: 725px;
	margin: 36px auto 0px;
}

#login {
	height: 36px;
	width: 100px;
	float: right;
	//background-color: rgb(220,0,220);
	text-align: center;
	vertical-align: middle;
}

footer {
	position: fixed;
	height: 18px;
	width: 725px;
	bottom: 3px;
	background-color: rgba(126,126,127,0.5);	
	left: 50%;
	margin-left: -363px;
}

nav {
	height: 18px;
	//background-color: rgb(200,200,200);
	margin-bottom: 36px;
	width: 725px;
	margin: 36px auto 0px;
}

nav #category,#area,#rating {
	width: 100px;
	height: 18px;
	float: left;
	margin-right: 25px;
}

nav #search-field {
	width: 225px;
	height: 18px;
	float: left;
	margin-right: 25px;
	
}

nav #search-button {
	width: 100px;
	height: 18px;
	float: left;
}

select {
	height: 18px;
	width: 100px;
}

button {
	height: 18px;
	width: 100px;
	font-size: 10px;
	vertical-align: top;
}

input {
	vertical-align: top;
	height: 12px;
	width: 225px;
	font-size: 10px;
}

.place:nth-child(3n-2) {
	//background-color: rgb(100,0,0);
	margin-top: 0px;
}

.place:nth-child(1) {
	//background-color: rgb(100,0,0);
	margin-top: 0px;
}


.place:nth-child(3n - 1) {
	//background-color: rgb(255,0,0);
	margin-top: 36px;
}

.place:nth-child(2) {
	//background-color: rgb(255,0,0);
	margin-top: 36px;
}


.place:nth-child(3n) {
	//background-color: rgb(255,0,100);
	margin-top: 0px;
	margin-right: 0px;
}

.place:nth-child(3) {
	//background-color: rgb(255,0,100);
	margin-top: 0px;
	margin-right: 0px;
}

.place {
	height: 270px;
	width: 225px;
	float: left;
	margin-right: 25px;
}

.photo {
	height: 216px;
	width: 225px;
	text-align: center;
	background-size: cover !important;
}
img {
	max-height: 216px;
	max-width: 225px;
	padding: 0;
	margin: 0;
}

.info {
	display: table-cell;
	vertical-align: middle;
	height: 54px;
	width: 225px;
	text-align: center;
	background-color: rgb(211,212,213);
}

/*.place:nth-child(1) .photo{
	background-image: url("http://puu.sh/3Lhea.jpg");
	background-size: cover;
}*/