<!DOCTYPE html>

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Необычный омск</title>

  <script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>

<script type="text/javascript">
  VK.init({apiId: API_ID, onlyWidgets: true});
</script>

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "style/style.css" %}" >
</head>

<body>
<header>
	<div id="vk_like"></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "mini", height: 24});
</script>
	<div id="logo"></div>
			<div id="login"></div>
</header>
<form action="/search/" method="get"> 
	<input type="search" name="search_text"/>
	<input type="submit" value="Поиск"/>
</form>
{% block content %}
{% endblock %}

<footer>
О проекте
</footer>

</body>

</html>