header {
	margin: auto 0px;
	//width: 725px;
	//height: 215px;
}

body {
	//width: 975px;
	margin: auto;
	background-color: rgb(249, 249, 249);
}

a {
	font-family: 'PT Sans', sans-serif;
	text-decoration: none;
	color: black;
}

/**
@section header
*/

header a {
	float: left;
	line-height: 36px;
	margin-right: 25px;
	font-family: 'PT Sans Narrow', sans-serif;
	color: rgb(113,130,140);
	text-decoration: underline;
}

.round-button {
	position: relative;
	height: 200px;
	width: 200px;
	left: 43%;
	//top: 25%;
	overflow: hidden;
	float: left;
	background: url("../images/round-button.png");
	background-size: cover;
}

.phrase {
	margin: 0 auto;
	width: 268px;
	height: 38px;
	background: url("../images/phrase.png");
	overflow: hidden;
	margin-bottom: 5px;
}

.header-top {
	margin: 5px auto;
	width: 53vw;
	//height: 6vh;
	min-width: 636px;
	min-height: 36px;

	overflow: hidden;
}

.logo {
	float: left;
}

.links {
	float: right;
}
/*
:nth-child(n) .links {
	border-right: 1px;
	border-right-style: solid;
	border-right-color: rgb(223,223,223);
}

:nth-child(1n) .links a {
	border-left: 1px;
	border-left-style: solid;
	border-left-color: rgb(223,223,223);
}
*/
.social {
	float: right;
}

.vk-icon {
	background: url("../images/vk-icon.png");
	height: 36px;
	width: 36px;
	float: left;
	margin-right: 8px !important;
}

.twitter-icon {
	background: url("../images/twitter-icon.png");
	height: 36px;
	width: 36px;
	float: right;
}

.header-main {
	background: url("../images/header-bg.png");
	background-size: cover;
	height: 60vh;
	width: 100%;
	min-height: 328px;
}

h2 {
	font-family: 'PT Sans', sans-serif;
	font-size: 40px;
	font-weight: normal;
	color: rgb(255,255,255);
	text-align: center;
	padding-top: 20px;
	margin-bottom: 5px;
}

/**
@section subscription
*/
.subscription {
	font-family: 'PT Sans', sans-serif;
	height: 36px;
	line-height: 36px;
	min-width: 440px;
}

#subscription-form {
	float: right;
	line-height: 32px;
}

#id_email {
	text-align: center;
	height: 19px;
	vertical-align: middle;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(65,99,117,0.9);
	box-shadow: inset 4px 4px 6px -3px rgb(191,191,191);
}

#subscription-button {
	background-color: rgb(250,235,194);
	vertical-align: middle;
	border-width: 0px;
	border-radius: 3px;
	height: 23px;
	width: 100px;
	border-color: rgb(65,99,117);
	background: -moz-linear-gradient(top, #ffffff 0%,#d0d0d0 100%));
    background: -webkit-linear-gradient(top, #ffffff 0%,#d0d0d0 100%);
    background: -o-linear-gradient(top, #93c8fd 0%,#4d4667 100%));
    background: -ms-linear-gradient(top, #93c8fd 0%,#4d4667 100%);
    background: linear-gradient(top, #93c8fd 0%,#4d4667 100%);
    font-size: 12px;
}
/**
@section search
*/
.button_map{
	float: left;
	width: 100px;
	height: 18px;
	text-align: center;
	font: 12px bold;
	background: rgb(250,235,194)
}

.search {
	height: 18px;
	width: 736px;
	margin: auto;
	margin-top: 36px;
}

.search #category,#area,#rating {
	width: 100px;
	height: 18px;
	float: left;
	margin-right: 25px;
	display: none;
}

#search-form{
	float: right;
}

#search-button{
	width: 100px;
	color: rgb(255,255,255);
	border-width: 0px;
	border-radius: 3px;
	height: 23px;
	background: -moz-linear-gradient(top, #93c8fd 0%,#4d4667 100%));
    background: -webkit-linear-gradient(top, #93c8fd 0%,#4d4667 100%);
    background: -o-linear-gradient(top, #93c8fd 0%,#4d4667 100%));
    background: -ms-linear-gradient(top, #93c8fd 0%,#4d4667 100%);
    background: linear-gradient(top, #93c8fd 0%,#4d4667 100%);
}
#search-field{
	margin-right: 20px;
	height: 23px;
	width: 190px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(191,191,191);
	box-shadow: inset 4px 4px 6px -3px rgb(191,191,191);
}

.search a {
	margin-right: 8px;
	text-decoration: underline;
	float: left;
}

/**
@section content
*/

#content {
	width: 725px;
	margin: 36px auto 30px;
	overflow: hidden;
	padding: 7px;
}

h1 {
	font-family: 'PT Sans Bold', sans-serif;
}

.place-title {
	font-family: 'PT Sans Bold', sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 11px;
}

.place:nth-child(3n-2) {
	margin-top: 0px;
}

.place:nth-child(3n-2) .photo {
	margin-top: 0px;
	margin: 9px 9px 0px 12px;
}

.place:nth-child(3n - 1) {
	margin-top: 36px;
}
.place:nth-child(3n - 1) .photo {
	Position: relative; top: 54px;
	margin: 0px 9px 9px 12px;
}
.place:nth-child(3n - 1) .info {
	Position: relative; bottom: 216px;
}
.place:nth-child(3n) {
	margin-top: 0px;
	margin-right: 0px;
}

.place:nth-child(3n) .photo {
	margin-top: 0px;
	margin: 9px 9px 0px 12px;
}

.place {
	height: 270px;
	width: 225px;
	float: left;
	margin-right: 25px;
	border-radius: 4px;
	box-shadow: 1px 4px 15px -4px;
	background-color: rgb(255, 255, 255);
	font-family: 'PT Sans', sans-serif;
}

.photo {
	height: 207px;
	width: 200px;
	//margin: 0px 9px 0px 9px;
	text-align: center;
	background-size: cover !important;
}
.info {
	display: table-cell;
	vertical-align: middle;
	height: 54px;
	width: 225px;
	text-align: center;
	font-size: 10px;
}


/**
@section footer
*/
footer {
	background: url("../images/footer-bg.png");
	background-size: cover;
	height: 8vh;
	width: 100%;
	min-height: 40px;
	overflow: hidden;
}

.footer-main {
	margin: 5px auto;
	padding: 5px;
	width: 53vw;
	//height: 6vh;
	min-width: 729px;
	min-height: 36px;
}

.footer-main > a {
	color: rgb(249,249,249);
	float: left;
	line-height: 36px;
	margin-right: 25px;
	font-family: 'PT Sans Narrow', sans-serif;
	text-decoration: underline;
}

//.footer-main .subscription {
//	color: rgb(249,249,249);
//}

.place_img{
	float: left;
	height: 380px;
	width: 350px;
	background-size: cover !important;
}
.place_img img{
	float: left;
	height: 380px;
	width: 350px;
}
#place_map{
	float: right;
	height: 200px;
	width: 335px;
}
.place_wrapper{
	height: 380px;
	padding: 10px;
	background-color: rgb(255,255,255);
	box-shadow: 1px 4px 15px -4px;
	border-radius: 3px;
	margin-bottom: 10px;
}
.place_about{
	//background-color: rgb(250,235,194);
	display: table-cell;
	vertical-align: middle;
	height: 150px;
	padding-right: 30px;
	padding-left: 30px;
	width: 320px;
}

p.address{
	margin-bottom: 0px;
}

.sidebar {
	width: 225px;
	height: 558px;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(255,255,255);
	box-shadow: 1px 4px 15px -4px;
	border-radius: 3px;
}

.list_place {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 72px;
	width: 225px;
}

.list_place:hover {
	background: -moz-linear-gradient(top, #ffffff 0%,#999999 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#999999 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#999999 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#999999 100%);
    background: linear-gradient(top, #ffffff 0%,#999999 100%);
}
.sidebar > a:nth-child(1) > .list_place {
	margin-top: 20px;
}

#map {
	float: right;
	margin-left: 25px;
	width: 474px;
	height: 558px;
	background-color: rgba(250,235,194,0.64);
}

.about {
	padding: 10px;
	height: 600px;
	width: 705px;
	background-color: rgba(250,235,194,0.8);
}
.about_image {
	width: 725px;
	height:110px;
	position: absolute;
	top: 833px;
	left: 322px;
	background: url("../images/about_bottom.png");
	background-repeat: no-repeat;
}

.img_map{
	max-width: 200px;
	max-height: 200px;
}

#tab-1 {

	font-family: 'PT Sans', sans-serif !important;
}

#tab-2 {
	height: 323px;
	width: 335px;
	padding: 0;
}

#tabs {
	float: right;
	width: 334px;
}

.ui-widget-header {
	background: -moz-linear-gradient(top, #ffffff 0%,#999999 100%) !important;
    background: -webkit-linear-gradient(top, #ffffff 0%,#999999 100%) !important;
    background: -o-linear-gradient(top, #ffffff 0%,#999999 100%) !important;
    background: -ms-linear-gradient(top, #ffffff 0%,#999999 100%) !important;
    background: linear-gradient(top, #ffffff 0%,#999999 100%) !important;
    border: 0 !important;
}
