{% extends "main.html" %}
{% load staticfiles %}

{% block script %}
    <link rel="stylesheet" type="text/css" href="{% static "style/add-place.css" %}" >
    <script src="//api-maps.yandex.ru/2.0.31/?load=package.standard,package.geoQuery&lang=ru-RU" type="text/javascript"></script>
    <script src="{% static "js/add-place-map.js" %}"></script>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <H1{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </H1>
        {% endfor %}
    {% endif %}
    <form enctype="multipart/form-data" action="/add-place/" method="POST">{% csrf_token %}
        {{ add_place_form.as_p }}
        <input type="submit" value="добавить"/> 
    </form>
    <div id="map" style="width:400px; height:300px"></div>
{% endblock %}
