{% extends "main.html" %}
{% load staticfiles %}

{% block script %}
	<link rel="stylesheet" type="text/css" href="{% static "style/index.css" %}" >
{% endblock %}

{% block content %}

	<h1>Самые интересные места Омска</h1>
    <div>
    {% for place in all_places %}
		<div class="place">
		<a href="/place/{{ place.id }}/">
			<div class="photo" style="background: url({{ place.image.url }})"></div>
			<div class="info">
				<div class="place-title">{{ place.title }}</div><div class="place-address"><img src="{% static "images/place-icon.png" %}" >  {{ place.address }}</div></div>
		</a>
		</div>
	{% endfor %}
	</div>

	<div class="pagination">
	    <span class="step-links">
	        {% if all_places.has_previous %}
	            <a href="?{{ search_request }}page={{ all_places.previous_page_number }}">Назад</a>
	        {% endif %}

	        <span class="current">
	            Страница {{ all_places.number }} из {{ all_places.paginator.num_pages }}.
	        </span>

	        {% if all_places.has_next %}
	            <a href="?{{ search_request }}page={{ all_places.next_page_number }}">Вперед</a>
	        {% endif %}
	    </span>
	</div>
{% endblock %}
