{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Street Faces</title>

	<link rel="stylesheet" type="text/css" href="{% static "style/main.css" %}" >
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
	<script src="{% static "js/jqueryrotate.2.1.js" %}"></script>
	<script src="{% static "js/rotate_logo.js" %}"></script>
	<script type="text/javascript" src="{% static "js/subscription.js" %}"></script>
	<script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>
	{% block script %}
	{% endblock %}
</head>

<body>
<header>
	<div class="header-top">
		<a href="/"><img class="logo" src="{% static "images/logo.png" %}"></a>
		<div class="links">
			<a class="menu-link" href="/add-place/">ДОБАВИТЬ МЕСТО</a>
			<a class="menu-link" href="/map/">КАРТА ДОСТОПРИМЕЧАТЕЛЬНОСТЕЙ</a>
			<a class="menu-link" href="/about/">О ПРОЕКТЕ</a>
			<div class="social">
				<a class="vk-icon" href="http://vk.com/streetfaces_ru" title="Вконтакте"></a>
				<a class="twitter-icon" href="http://twitter.com/StreetfacesRu" title="Твиттер"></a>
			</div>
		</div>
	</div>
	<div class="header-main">
		<h2>ОТКРОЙ В СЕБЕ НОВЫЙ ГОРОД</h2>
		<div class="phrase"> </div>
		<a class="round-button" href="/" title="На главную страницу"></a>
	</div>
	
	
</header>


<nav class="search">
	<a href="/filter/ARCHITECTURE/">Архитектура</a>
	<a href="/filter/GRAFFITI/">Граффити</a>
	<a href="/filter/INTERIOR/">Интерьер</a>
	<a href="/filter/MONUMENTS/">Памятники</a>
	<a href="/filter/FOUNTAINS/">Фонтаны</a>
	<form action="/search/" method="get" id="search-form">
		<input type="search" name="search-text" id="search-field" placeholder="Введите слово для поиска"/>
		<input type="submit" value="найти" id="search-button" />	
	</form>
</nav>

<section id="content">
	<script type="text/javascript">
 		VK.init({apiId: 3824037, onlyWidgets: true});
	</script>
	{% block content %}
	{% endblock %}
</section>
<footer>
	<div class="footer-main">
		<a href="/map/">КАРТА ДОСТОПРИМЕЧАТЕЛЬНОСТЕЙ</a>
		<a href="/about/">О ПРОЕКТЕ</a>
		<div class="subscription">
			<form action="" method="post" id="subscription-form">{% csrf_token %}
				{% for field in request.subscription_form %}
					{{ field }}
				{% endfor %}
				<input type="submit" value="подписаться" id="subscription-button" />	
			</form>
		</div>
	</div>
</footer>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter22242917 = new Ya.Metrika({id:22242917,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex-metrika-callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/22242917" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>

</html>
