{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Street Faces</title>

	<link rel="stylesheet" type="text/css" href="{% static "style/style.css" %}" >
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
	<script src="{% static "js/jqueryrotate.2.1.js" %}"></script>
	<script src="{% static "js/rotate_logo.js" %}"></script>
	<script type="text/javascript" src="{% static "js/subscription.js" %}"></script>
	{% block script %}
	{% endblock %}
</head>

<body>
<header>
	<a class="logo" href="/" title="На главную страницу"></a>
	<div class="header-info">
		<div class="header-quote">
			<p>У домов, как у людей, есть своя душа и свое лицо, на котором отражается их внутренняя сущность.
			<p>А. Дюма-отец
		</div>
		<div class="subscription">
			Рассылка новостей
			<form action="" method="post" id="subscription-form">{% csrf_token %}
				{% for field in subscription_form %}
					{{ field }}
				{% endfor %}
				<input type="submit" value="Подписаться" id="subscription-button" />	
			</form>
		</div>
	</div>
</header>

<nav class="search">
	<a href="/map/">
		<div class="button_map">карта</div>
	</a>
	<div id="category">
		<select>
			<option selected>Категория</option>
			<option>Посмотреть</option>
			<option>Посидеть</option>
			<option>Посетить</option>	
		</select>
	</div>
	<div id="area">
		<select>
			<option selected>Район</option>
			<option>Центральный</option>
			<option>Кировский</option>
			<option>Ленинский</option>
			<option>Советский</option>
			<option>Октябрьский</option>
		</select>
	</div>
	<div id="rating">
		<select>
			<option selected>Рейтинг</option>
			<option>5 звёзд</option>
			<option>4 звезды</option>
			<option>3 звезды</option>
		</select>
	</div>
	<form action="/search/" method="get" id="search-form">
		<input type="search" name="search_text" id="search-field" placeholder="введите слово для поиска"/>
		<input type="submit" value="найти" id="search-button" />	
	</form>
</nav>

<section id="content">
	{% block content %}
	{% endblock %}
</section>
<footer>
	<a href="/about">О проекте</a>
</footer>

</body>

</html>