{% extends "main.html" %}

{% block script %}
	<script src="//api-maps.yandex.ru/2.0.31/?load=package.standard,package.geoQuery&lang=ru-RU" type="text/javascript"></script>
	<script type="text/javascript">
	ymaps.ready(init);
	
	function init () {
	    var map = new ymaps.Map('map', {
	            center: [54.984634, 73.375038],
	            zoom: 12
	        }),
	
	        // Создание макета содержимого балуна.
	        // Макет создается с помощью фабрики макетов с помощью текстового шаблона.
	        BalloonContentLayout = ymaps.templateLayoutFactory.createClass(
	            '<div style="margin: 10px;">' +
	                '<b>$[properties.name]</b><br />' +
	                '<img class="img-map" src="$[properties.img]"/><br /> ' +
	                '<b>$[properties.address]</b>' +
	            '</div>'
	        );
	    {% for place in all_places %}		
		    map.geoObjects.add(new ymaps.Placemark([{{ place.latitude }}, {{ place.longitude}}], {
		            name: '{{ place.title }}',
		            img: '{{ place.image.url }}',
		        address: '{{ place.address }}'
		        }, {
		            balloonContentLayout: BalloonContentLayout
		        }));
	    {% endfor %}
    }
	</script>
{% endblock %}

{% block content %}
	<div class="sidebar">
		{% for place in all-places %}
			<a href="/place/{{ place.id }}">
				<div class="list-place">
					{{ place.title }}
				</div>
			</a>
		{% endfor %}
	</div>
	<div id="map"/>
{% endblock %}
