{% extends "main.html" %}
{% load staticfiles %}

{% block script %}
	<link rel="stylesheet" type="text/css" href="{% static "style/place.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "style/yandex_map.css" %}">
	<script src="//api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
    <!--
        Основная библиотека JQuery.
        Яндекс предоставляет хостинг JavaScript-библиотек
    -->
   <!-- Библиотека JQuery.UI. Используем для работы со вкладками -->
    <script src="//yandex.st/jquery-ui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <!-- CSS JQuery.UI. Используем для отрисовки вкладок -->
    <link rel="stylesheet" href="//yandex.st/jquery-ui/1.8.15/themes/humanity/jquery.ui.all.min.css" type="text/css"/>
{% endblock %}


{% block content %}
<script src="{% static "js/one_place_map.js" %}"></script>

<!-- Put this div tag to the place, where the Like block will be -->
<div id="vk_like"></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "full"});
</script>

<div class="place-wrapper">
	<div class="place-img" style="background: url({{ place.image.url }})"></div>
	<div id="tabs">
	    <ul>
	        <li><a href="#tab-1">Описание</a></li>
	        <li><a href="#tab-2">Карта</a></li>
	    </ul>
	    <div id="tab-1">
	    	<h1>{{ place.title }}</h1>
	        {{ place.description }} 
	    </div>
	    <div id="tab-2"></div>
	</div>
	<!-- Put this div tag to the place, where the Like block will be -->
			<div id="vk_like2"></div>
			<script type="text/javascript">
				VK.Widgets.Like("vk_like2", {type: "button"});
			</script>
</div>

	<script type="text/javascript">
	  VK.init({apiId: API-ID, onlyWidgets: true});
	</script>
	<!-- Put this div tag to the place, where the Comments block will be -->
	<div id="vk-comments"></div>
	<script type="text/javascript">
	VK.Widgets.Comments("vk-comments", {limit: 10, width: "725", attach: "*"});
	</script>
{% endblock %}
